@inject IStringLocalizer<NavMenu> localizer
<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">@localizer["NAV_DASHBOARD"]</FluentNavLink>
            <AuthorizeView>
                <Authorized>
                    <FluentNavLink Href="/Account/Logout" Icon="@(new Icons.Regular.Size20.SignOut())">@localizer["NAV_ACCOUNT_LOGOUT"]</FluentNavLink>
                </Authorized>
                <NotAuthorized>
                    <FluentNavLink Href="/Account/Login" Icon="@(new Icons.Regular.Size20.Fingerprint())">@localizer["NAV_ACCOUNT_LOGIN"]</FluentNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
